body {
    margin: 0;  
    font-family: 'Crimson Text', serif;
}
html, body { 
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.screen_container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(65, 65, 65);
    padding: 2vw;
}


#answerfield {
    font-size: 5.5vh;
    color: rgb(255, 255, 255);
}

.screen_container input {
    background-color: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    border: 0;
    outline:none;
    text-align:right;
    width: 100%;
}

.button_container {  
    display: flex;
    height: 65%;
}



.num {
    display: flex;
    flex-basis: 75%;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0); 
}

.bar {
    display: flex;
    flex-basis: 25%;
    flex-grow: 1;
    flex-direction: column;    
    background-color: rgb(0, 0, 0); 

}

.numpad {
    flex-grow: 1;
    background-color: rgb(0, 0, 0); 
    

}
.numpadb {
    flex-grow: 1;
    background-color: rgb(0, 0, 0); 
    
}

button {
    border: 0;
    color: white;
    margin: 1px;
    font-size: 5vh;
    border-radius: 100vw;
    user-select:none;
    box-sizing: border-box;
}

/* flexbox new row   */
.button_container hr {
    flex-basis: 100%; 
    height: 0; 
    margin: 0; 
    border: 0;
}


/* animations */

button {
    background-position: center;
    transition-duration: 0.4s, 0.7s, 0.7s;
    transition-property: background, border-radius, transform;
  }

 
  button:active {
    background-color: rgb(153, 0, 255);
    box-shadow: 0 0 5px 2px;
    background-size: 100%;
  }

  #cbtn:active{
    border-radius: 0;
    transform: rotate(360deg);
    background-color: rgb(163, 19, 19);
  }






  

  