body {
    margin: 0;   
}

* {
    box-sizing: border-box;
}

.screen_container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    padding: 3rem;
}

.button_container {  
    display: flex;
    height: 60vh;
}

.screen_container input {
    font-size: 7rem;
    border: 0;
    outline:none;
    text-align:right;
}

.num {
    display: flex;
    flex-wrap: wrap;
}

.bar {
    display: flex;
    flex-direction: column;
}

.numpad {
    width: 25vw;
    background-color: rgb(82, 82, 82); 
}
.numpadb {
    width: 25vw;
    background-color: rgb(109, 109, 109); 
    flex-grow: 1;
}

button {
    border: 0;
    color: white;
    font-size: 3rem;
}

#answerfield{
    font-size: 4rem;
    margin: 0;
}