body {
    margin: 0;  
    font-family: 'Courier New', Courier, monospace; 
}
html, body { height: 100% }

* {
    box-sizing: border-box;
    margin: 0;
}

.screen_container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    padding: 2vw;
}

.button_container {  
    display: flex;
    height: 70%;
}

.screen_container input {
    font-size: 10vh;
    border: 0;
    outline:none;
    text-align:right;
    width: 100%;
}

.num {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(44, 44, 44); 
}

.bar {
    display: flex;
    flex-direction: column;    
    background-color: rgb(85, 85, 85); 
}

.numpad {
    width: 25vw;
    background-color: rgb(44, 44, 44); 
}
.numpadb {
    width: 25vw;
    background-color: rgb(85, 85, 85); 
    flex-grow: 1;
}

button {
    border: 0;
    color: white;
    font-size: 5vh;
    border-radius: 100vw;
    user-select:none;
}

#answerfield{
    font-size: 5vh;
}


/* animations */

button {
    background-position: center;
    transition: background 0.8s;
  }
 
  button:active {
    background-color: rgb(3, 3, 3);
    background-size: 100%;
    transition: background 0s;
  }
  

  